importFrom(utils, "find", "lsf.str", "unzip", "write.table")
if(.Platform$OS.type == "windows") {
  importFrom(utils, "writeClipboard")
}
importFrom(tcltk, ".Tcl", ".Tcl.args", "tclRequire", "tclvalue")
importFrom(svMisc, "callTip", "completion")
importFrom(XML, "addAttributes" ,"saveXML", "xmlGetAttr", "xmlName", "xmlRoot",
  "xmlSize", "xmlTreeParse", "xmlValue", "xmlValue<-")

export(createCallTipFile,
       createSyntaxFile,
       getFunctions,
       getKeywords,
       guiCallTip,
       guiComplete,
       guiDDEInstall,
       Source,
       sourceFormat,
       kpf2pot,
       kpz2pot,
       kpfTranslate,
       kpzTranslate,
       makeIconGallery)
